---
import PhotoArticle from "../PhotoArticle.astro";
const { articles } = Astro.props
---
<div class="grid grid-cols-[1fr] md:grid-cols-[3fr_5fr] md:divide-x md:divide-triangleGray-400 ">
    <!-- Column 1: 2 blocks -->
    <div class="flex flex-col space-y-2 md:pr-[12px]">
        {articles.slice(0, 2).map(article => (
            <PhotoArticle title={article.title} 
            image={article.featured_image}
            author={article.authors}
            date={article.date}
            slug={article.categories_list[0].slug+"/"+article.slug}/>
        ))}
    </div>

    <!-- Column 2: 1 block -->
    <div class="flex flex-col space-y-2 md:px-[12px]">
        {articles.slice(2, 3).map(article => (
            <PhotoArticle title={article.title} 
            image={article.featured_image}
            author={article.authors}
            date={article.date}
            excerpt={article.excerpt}
            slug={article.categories_list[0].slug+"/"+article.slug}/>
        ))}
    </div>
</div>
<div class="flex flex-col space-y-2">
    {articles.slice(3, 6).map(article => (
        <PhotoArticle title={article.title} 
        category={article.categories_list}
        author={article.authors}
        date={article.date}
        slug={article.categories_list[0].slug+"/"+article.slug}/>
    ))}
</div>