---
import PhotoArticleLong from "../PhotoArticleLong.astro"

import type { SectionCardArticle } from "../../utils/types";

interface Props {
  articles: SectionCardArticle[];
}

const { articles } = Astro.props;


---

<div class="pt-3 mt-3 mb-8">
    {articles.map(article => (
        <PhotoArticleLong title={article.title} 
            category={article.categories_list}
            author={article.authors}
            date={article.date}
            excerpt={article.excerpt}
            image={article.featured_image}
            slug={"article/"+article.slug}/>
    ))}
</div>