---
import PhotoArticle from "../PhotoArticle.astro";
const { articles } = Astro.props

const rowSize = articles.length
const rowSizeClass = "sm:grid-cols-" + rowSize;
---

<div class={"grid grid-cols-1 sm:divide-x sm:divide-triangleGray-400 pt-3 mt-3 d:mb-8 border-t-[1px] border-solid border-triangleGray-400 " + rowSizeClass}>
    {articles.map(article => (
        <PhotoArticle row title={article.title} 
        category={article.categories}
        image={article.featured_image}
        author={article.authors}
        published_date={article.published_date}
        slug={"article/"+article.slug}/>
    ))}
</div>