---
export const prerender = true;

import BaseLayout from "../layouts/BaseLayout.astro";
import Section from '../components/Sections/Section.astro';
import Header from '../components/Header.astro';
import Column from '../components/Columns.astro';
import Social from '../components/Social.astro';
import Poll from '../components/Polls.astro';
import MostRead from '../components/MostRead.astro';
import '../styles/global.css';
import { getHomepageArticles } from '../utils/db';

const posts = await getHomepageArticles();
---

<BaseLayout title="The Triangle">
    <Header home/>

    <a id="one-hundred" href="/one-hundred-years" class="flex px-[16px] justify-end items-end w-full mt-[-24px] mb-[24px] h-[200px] md:h-[300px] bg-center text-white text-wrap font-bold uppercase font-libre text-[32px] sm:text-[48px] lg:text-[48px] leading-[normal] relative">
        <span class="z-[10] text-right">100 Years of The Triangle</span>
    </a>

    <Section section="news" articles={posts.news?.slice(0, 9)} style="3-6-3"/>
    <Section section="news" articles={posts.news?.slice(9)} style="row"/>
    <Section section="opinion" articles={posts.opinion} includeName style="3-5-4"/>
    <div class="grid grid-cols-[1fr] sm:grid-cols-[8fr_4fr] mt-2 xl:max-w-[1200px] lg:max-w-[900px] max-w-[90%] mx-[auto] mb-[8px] divide-x divide-triangleBlue border-t-[1px] border-solid border-triangleBlue pt-[5px] ">
        <div id="main-left" class="main-side">
            <Section section="sports" articles={posts.sports} includeName style="3-5"/>
            <Section section="entertainment" articles={posts.entertainment} includeName style="6-6"/>
            <Section section="comics" slug="candp" articles={posts.candp} includeName style="5-3"/>
        </div>
        <div id="main-right" class="hidden sm:block [&>*:not(:first-child)]:border-t-[1px] [&>*:not(:first-child)]:border-solid [&>*:not(:first-child)]:border-triangleBlue main-side">
            <Column articles={posts.columns}/>
            <Poll />
            <Social />
        </div>
    </div>
</BaseLayout>



