---
import { normalizeText, buildByline } from '../utils/data';

const { title, excerpt, image, author, published_date, date, slug } = Astro.props;

const DEFAULT_IMGS = [
  '/proxy/wp-content/uploads/2024/12/IMG_2493-2048x1365.jpg',
  '/proxy/wp-content/uploads/2026/02/what-gets-drexel-students-through-sarah-ruzicka.jpg',
  '/proxy//wp-content/uploads/2023/12/Drexel-Summary-and-Analysis-of-Report-Lucas-Tusinean-2-scaled.jpeg'
];

let imgSrc = image || DEFAULT_IMGS[Math.floor(Math.random() * DEFAULT_IMGS.length)];
if (image !== undefined) {
  imgSrc = imgSrc
    .replace('https://www.thetriangle.org', '/proxy')
    .replace('https://cms.thetriangle.org', '/proxy');
}

const byline = buildByline(author, published_date || date);
---

<article class="grid grid-cols-[5fr_3fr] py-[8px] border-b-[1px] border-solid border-triangleGray-400">
  <div class="md:pr-[12px]">
    <a href={`/${slug}`}>
      <h2 class="font-playfair text-[28px] leading-tight hover:underline mb-[8px]">
        {normalizeText(title)}
      </h2>
    </a>
    <div class="font-roboto-slab text-[12px] mb-[8px]" set:html={byline} />
    {excerpt && <div class="text-[14px]" set:html={normalizeText(excerpt)} />}
  </div>
  {image !== undefined && (
    <a href={`/${slug}`} class="pl-[12px]">
      <img
        src={imgSrc}
        alt={normalizeText(title)}
        class="bg-[url('/images/loading.jpg')] bg-cover w-full h-[169px] object-cover"
        loading="lazy"
      />
    </a>
  )}
</article>
