---
export const prerender = false;

const {sections, article} = Astro.params

import ArticleLayout from "../../layouts/ArticleLayout.astro";
import Header from '../../components/Header.astro';
import '../../styles/global.css';
import Social from '../../components/Social.astro';
import Poll from '../../components/Polls.astro';
import MostRead from '../../components/MostRead.astro';
import { getArticle } from '../../utils/db';
import { normalizeText } from "../../utils/data";

if(sections !== "article"){
    return Astro.redirect('/article/'+article, 301); 
}

const post = await getArticle(article);

if (!post) {
  return Astro.rewrite('/404');
}

let authorListLinks = [];
let authorList = post.authors.forEach((author)=>{authorListLinks.push(`<a class='hover:underline' href='/author/${author.slug}'>${author.name}</a>`);})

if(authorListLinks.length > 1){
    authorListLinks[authorListLinks.length - 1] = " and " + authorListLinks[authorListLinks.length - 1];
}

let d = new Date(post.date)
const months = ["Jan.", "Feb.", "March", "April", "May", "June", "July", "Aug.", "Sep.", "Oct.", "Nov.", "Dec."];
const date_string = months[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear();

authorList = "By " + (authorListLinks.length > 2 ? authorListLinks.join(", ") : authorListLinks.join(""))

let actualArticle = post.content.match("<p[^>]*>(.+?)<\/p>")
---
<ArticleLayout title={normalizeText(post.title) + " - The Triangle"} article={post}>
    <Header/>
    <article class="xl:max-w-[1200px] lg:max-w-[1000px] max-w-[90%] mx-[auto]">
        {post.categories_list && <a href={"../"+post.categories_list[0].slug}><span class="block font-roboto-slab uppercase font-extrabold text-triangleBlue text-[12px] md:text-[14px] italic font-700"> {normalizeText(post.categories_list[0].name)} </span></a>}
        <h1 class="font-playfair text-[28px] sm:text-[36px] md:text-[42px] font-bold md:mt-[-12px] leading-[normal]">{normalizeText(post.title)}</h1>
        <div set:html={authorList} class="text-[14px] md:text-[16px] font-roboto-slab font-light"></div>
        <span class="font-light font-roboto-slab text-[12px] mb-[16px]">{date_string}</span>
        {actualArticle && <div class="grid grid-cols-[1fr] lg:grid-cols-[9fr_3fr] xl:grid-cols-[8fr_4fr] mt-2 divide-x divide-triangleBlue">
            <div id="main-left" class="main-side">
                <section 
                id="article" 
                set:html={post.content.replaceAll("https://cms.thetriangle.org/wp-content", "/proxy/wp-content")
                .replaceAll("https://www.thetriangle.org/wp-content", "/proxy/wp-content")
                .replace(/srcset="[^"]*"/g, "")}>
                </section>
            </div>
            <div id="main-right" class="hidden lg:block [&>*:not(:first-child)]:border-t-[1px] [&>*:not(:first-child)]:border-solid [&>*:not(:first-child)]:border-triangleBlue main-side">
                {/* <MostRead/> */}
                <Poll />
                <Social />
            </div>
        </div>}
        {!actualArticle && <section 
                id="article" 
                set:html={post.content.replaceAll("https://cms.thetriangle.org/wp-content", "/proxy/wp-content")
                .replaceAll("https://www.thetriangle.org/wp-content", "/proxy/wp-content")
                .replace(/srcset="[^"]*"/g, "")}>
                </section>}
        {post.content.includes('pm-embed-div') && (
        <script 
            is:inline 
            id="pm-script" 
            src="https://puzzleme.amuselabs.com/pmm/js/puzzleme-embed.js"
        ></script>)}
    </article>
</ArticleLayout>